<div style="min-height: 60vh" class="w-full">
  <div class="container-fluid">
    <div class="container p-5">
      <button class="btn btn-success rounded-0 px-5">COMELEC OFFICE:</button>
      <div class="container-fluid rounded border boder-2 border-success p-4">
        <p>Cressa Joy Insegne</p>
        <p>0956 895 0544</p>
      </div>
    </div>
    <div class="container py-2 p-5">
      <button class="btn btn-success rounded-0 px-5">LCR OFFICE:</button>
      <div class="container-fluid rounded border boder-2 border-success p-4">
        <p>Jose Andress V. Santillan</p>
        <p>(043) 491-0245</p>
      </div>
    </div>
    <div class="container py-2 p-5">
      <button class="btn btn-success rounded-0 px-5">MSWD OFFICE:</button>
      <div class="container-fluid rounded border boder-2 border-success p-4">
        <p>Eloisa S. Enelda</p>
        <p>0949 871 4736</p>
      </div>
    </div>
  </div>
</div>
