<div class="row justify-content-center gap-5 mt-5">
  <div class="container-fluid p-3 vh-100">
    <div class="row h-100">
      <div class="col-8 h-100">
        <div class="row h-100">
          <div class="col-3">
            <div class="container">
              <h5>Voter's Certificate</h5>
            </div>
          </div>
          <div class="col-3">
            <div class="container">
              <h5>PSA REQUESTS</h5>
            </div>
          </div>
          <div class="col-3">
            <div class="container">
              <h5>Burial Assistant</h5>
            </div>
          </div>
          <div class="col-3">
            <div class="container">
              <h5>Kasalang Bayan</h5>
            </div>
          </div>
          <div class="col-12">
            <div class="container bg-white text-dark">
              <h5>Recent</h5>
            </div>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="container bg-white text-dark">
          <h5>Request</h5>
        </div>
      </div>
    </div>
  </div>
</div>
