<div class="row justify-content-center gap-5 mt-5">
  <div class="container-fluid p-3 vh-100">
    <div class="row h-100">
      <div class="col-8 h-100">
        <div class="row h-100">
          <div class="col-3">
            <div class="container">
              <h1>Voter's Certificate</h1>
            </div>
            >
          </div>
          <div class="col-3">
            <div class="container">
              <h1>PSA REQUESTS</h1>
            </div>
          </div>
          <div class="col-3">
            <div class="container">
              <h1>Burial Assistant</h1>
            </div>
          </div>
          <div class="col-3">
            <div class="container">
              <h1>Kasalang Bayan</h1>
            </div>
          </div>
          <div class="col-12">
            <div class="container bg-white text-dark h-100">
              <h5>Recent</h5>
            </div>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="container bg-white text-dark h-100">
          <h5>Request</h5>
        </div>
      </div>
    </div>
  </div>
</div>
