<button
  class="btn btn-trnasparent text-white btn-sm px-3"
  data-bs-toggle="modal"
  data-bs-target="#registerModal"
>
  Register
</button>

<!-- Modal -->
<form
  class="modal fade"
  id="registerModal"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content rounded-0 border border-5 border-success">
      <div class="modal-header">
        <h1 class="modal-title fs-5 text-center" id="staticBackdropLabel">
          REGISTRATION FORM
        </h1>
        <button
          type="reset"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <!-- message container -->
        <div id="msg_container"></div>

        <div class="row">
          <div class="col">
            <div class="form-group">
              <label for="">Full Name:</label>
              <input
                required
                type="text"
                class="form-control form-control-md"
                name="fullname"
              />
            </div>
            <div class="form-group mt-2">
              <label for="">Contact Number:</label>
              <input
                required
                type="text"
                class="form-control form-control-md"
                name="contact_no"
                pattern="\d{11}"
                title="Please enter a 11-digit cellphone number"
              />
            </div>
            <div class="form-group mt-2">
              <label for="">Gender:</label>
              <select required name="gender" class="form-select">
                <option disabled selected class="d-none"></option>
                <option value="Male">Male</option>
                <option value="Female">Female</option>
              </select>
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label for="">Email:</label>
              <input
                required
                type="email"
                class="form-control form-control-md"
                name="email"
              />
            </div>
            <div class="form-group mt-2">
              <label for="">Address:</label>
              <input
                required
                type="address"
                class="form-control form-control-md"
                name="address"
              />
            </div>
            <div class="form-group mt-2">
              <label for="">Age:</label>
              <input
                required
                type="number"
                class="form-control form-control-md"
                name="age"
              />
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label for="">Password:</label>
              <input
                required
                type="password"
                class="form-control form-control-md"
                name="password"
              />
            </div>
            <div class="form-group mt-2">
              <label for="">Birthday:</label>
              <input
                required
                type="date"
                class="form-control form-control-md"
                name="birthday"
              />
            </div>
            <div class="form-group mt-2">
              <label for="">Status:</label>
              <select required name="status" class="form-select">
                <option disabled selected class="d-none"></option>
                <option value="Single">Single</option>
                <option value="Married">Married</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="reset"
          class="btn btn-danger btn_cancel"
          data-bs-dismiss="modal"
        >
          Cancel
        </button>
        <button type="submit" class="btn btn-success btn_submit">Submit</button>
      </div>
    </div>
  </div>
</form>
