<div style="min-height: 80vh" class="w-full">
  <div class="container-fluid">
    <div class="container p-5">
      <button class="btn btn-success rounded-0 px-10">Announcement</button>
      <div class="container-fluid rounded border boder-2 border-success p-7">
        <p>
          THIS IS TO INFORM THE GENERAL PUBLIC, CONSTITUENT AND REGISTERED
          VOTER'S THAT THE GENERATION AND DISTRIBUTION OF VOTER'S I.D CARDS HAS
          BEEN PUT AND HOLD AS A RESULT OF APPROVAL BY THE HOUSE OF
          REPRESENTATIVES OF A BILL SEEKING TO ESTABLISH NATIONAL IDENTIFICATION
          SYSTEM WHICH PURPOSE ONLY 1 IDENTIFICATION SYSTEM WHICH PROPOSES ONLY
          ONE I.D FOR ALL GOVERNMENT TRANSACTIONS
        </p>
      </div>
    </div>
    <img src="../../../../assets/images/logo an.png" />
  </div>
</div>
<router-outlet></router-outlet>
