<div style="min-height: 80vh" class="w-full">
  <div class="container-fluid">
    <div class="container p-5">
      <button class="btn btn-success rounded-0 px-5">MISSION</button>
      <div class="container-fluid rounded border boder-2 border-success p-4">
        <p>
          To provide an enabling environment for the development of agriculture
          and eco-tourism industry through responsive and efficient governance,
          empowered communities and sustainable management of natural resources
          towards a peacful, progressive and resilient municipality
        </p>
      </div>
    </div>
    <div class="container py-2 p-5">
      <button class="btn btn-success rounded-0 px-5">VISSION</button>
      <div class="container-fluid rounded border boder-2 border-success p-4">
        <p>
          A model of agricultural and eco-toursim-based economy that is
          sustainable, peaceful, and progressive with empowered and resilient
          communities living in a vibrant natural environment
        </p>
      </div>
    </div>
  </div>
</div>
