.navigation {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: end;
}

.navigation ul {
  display: flex;
  list-style: none;
  padding: 1rem;
  color: forestgreen;
}

li a {
  padding: 1rem;
  text-align: center;
}

li a:hover {
  color: black;
  cursor: pointer;
}
li.accept {
  color: white;
  background: green;
}
li.deny,
li.clear {
  color: white;
  background: rgb(125, 252, 146);
}
