<div
  style="
    min-height: 80vh;
    background: url(../../../../assets/images/rizal.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    filter: brightness(100%);
  "
  class="w-full d-flex align-items-center justify-content-center position-relative"
>
  <div style="min-height: 80vh" class="container-fluid p-4 text-center">
    ><br />
    <img
      src="../../../../assets/images/logo.png"
      width="100px"
      height="100px"
      class="rounded-circle"
      style="position: absolute; left: 0; z-index: 10"
    />
    <br />
    <h1 class="fw-bold text-white fs-2 mt-1" style="margin-left: 7rem">
      VOTER'S CERTIFICATE:
    </h1>
    <br />
    <div class="row text-start mt-4 gap-3 justify-content-left">
      <div class="col col-md-5 bg-white p-8">
        <br />
        <h5>
          Para sa personal na kukuha ng kanilang Voters Certificte paki uplaod
          sa baba ang inyong Valid ID.
        </h5>
        <br />
        <br />

        <h2>VALID I.D</h2>
        <form
          class="row g-3"
          [formGroup]="permissionSlipForm"
          (submit)="submitRequest()"
        >
          <div class="col-12">
            <input
              class="form-control"
              id="validID"
              type="file"
              (change)="onSelectImage($event)"
              accept="image/*"
              formControlName="validID"
              placeholder="ID"
            />
            <div class="col-md-6"></div>
            <label for="date" class="form-label"></label>
            <input
              type="date"
              class="form-control"
              id="date"
              formControlName="date"
            />
            <div class="col-md-6">
              <label for="time" class="form-label"
                >Choosen Time For Schedule:</label
              >
              <input
                type="time"
                class="form-control"
                id="time"
                formControlName="time"
              />
              <br />
            </div>
          </div>
          <div class="col-md-12 align-end">
            <button class="btn btn-success" type="submit">
              Submit Request
            </button>
          </div>
        </form>
      </div>
      <br />
      <br />
      <div class="col col-md-6 bg-white p-8">
        <br />
        <h5>
          Para sa mag papakuha ng Voter Certification paki upload sa ibaba ang
          mga sumusunod:
        </h5>
        <br />
        <br />

        <h5>Authorization Letter</h5>
        <form
          class="row g-3"
          [formGroup]="permissionSlipForm"
          (submit)="submitRequest()"
        >
          <div class="col-12">
            <input
              class="form-control"
              id="validID"
              type="file"
              (change)="onSelectImage($event)"
              accept="image/*"
              formControlName="validID"
              placeholder="ID"
            />
            <div class="col-md-6"></div>
            <label for="date" class="form-label"></label>
            <input
              type="date"
              class="form-control"
              id="date"
              formControlName="date"
            />
            <div class="col-md-6">
              <label for="time" class="form-label"
                >Choosen Time For Schedule:</label
              >
              <input
                type="time"
                class="form-control"
                id="time"
                formControlName="time"
              />
              <br />
            </div>
          </div>
          <div class="col-md-12 align-end">
            <button class="btn btn-success" type="submit">
              Submit Request
            </button>
          </div>
        </form>
      </div>
      <br />
      <h1 class="fw-bold text-white fs-2 mt-1" style="margin-left: 7rem">
        WALK IN PROCEDURE:
      </h1>
      <br />

      <div class="row text-white justify-content-around gap-3">
        <div class="row text-start mt-4 gap-3 justify-content-center"></div>
        <div class="col col-md-2 bg-success p-5">
          <img
            src="https://th.bing.com/th/id/OIP.Q5e2itGgPePbI7Rh8ebYjgHaHa?pid=ImgDet&rs=1"
            class="rounded-circle border"
            style="height: 100px; width: 100px"
          />
          <h2 class="fw-bold">Step 1:</h2>
          <p class="px-2 text-start">
            <i class="fa fa-check"></i>
            Pumunta sa inyong Email at tingnan ang Confirmation ng inyong
            transaction
          </p>
          <div
            class="btn-group mr-2"
            role="group"
            aria-label="First group"
          ></div>
        </div>
        <div class="col col-md-2 bg-success p-5">
          <img
            src="https://cdn3.iconfinder.com/data/icons/medical-and-health-1-13/52/83-512.png"
            class="rounded-circle border"
            style="height: 100px; width: 100px"
          />
          <h2 class="fw-bold">Step 2:</h2>
          <p class="px-2 text-start">
            <i class="fa fa-check"></i> Kung kayo ay meron ng schedule pumunta
            sa comelec Office at hanapin si Mrs. Erluza O. Balderas (Comelec
            Officer)
          </p>
          <div
            class="btn-group mr-2"
            role="group"
            aria-label="First group"
          ></div>
        </div>
        <div class="col col-md-2 bg-success p-5">
          <img
            src="https://cdn4.iconfinder.com/data/icons/money-filled-outline/64/money-colored-15-512.png"
            class="rounded-circle border"
            style="height: 100px; width: 100px"
          />
          <h2 class="fw-bold">Step 3:</h2>
          <p class="px-2 text-start">
            <i class="fa fa-check"></i> Mag Provide ng Payment para Voter’s
            Certificate Regular 75.00 Senior Citezen and PWD- No fee
          </p>
          <div
            class="btn-group mr-2"
            role="group"
            aria-label="First group"
          ></div>
        </div>
        <div class="col col-md-2 bg-success p-5">
          <img
            src="https://nationalgriefawarenessday.com/wp-content/uploads/2018/01/log-book-sample-logbook-icon.jpg"
            class="rounded-circle border"
            style="height: 100px; width: 100px"
          />
          <h2 class="fw-bold">Step 4:</h2>
          <p class="px-2 text-start">
            <i class="fa fa-check"></i> Pagkatapos ma claim at mag bayad mag
            sign sa Log book
          </p>
          <div class="container mt-4">
            <div
              class="btn-group mr-2"
              role="group"
              aria-label="First group"
            ></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
