<div style="min-height: 80vh" class="container-fluid p-4 text-center">
  <button
    class="btn btn-lg px-5 py-3 border-0 fw-bold rounded-0 col-4"
    style="background-image: linear-gradient(white, skyblue)"
  >
    PSA Certificate</button
  ><br /><br />
  <h4 class="text-start fw-bold">PROCEDURE:</h4>
  <div class="row text-white justify-content-around gap-3">
    <div class="col col-md-2 bg-success p-5">
      <h5 class="fw-bold">step 1:</h5>
      <p class="px-2 text-start">
        <i class="fa fa-check"></i> Go to the LCR Office
      </p>
    </div>
    <div class="col col-md-2 bg-success p-5">
      <h5 class="fw-bold">step 2:</h5>
      <p class="px-2 text-start">
        <i class="fa fa-check"></i> Present ID and state your purpose
      </p>
    </div>
    <div class="col col-md-2 bg-success p-5">
      <h5 class="fw-bold">step 3:</h5>
      <p class="px-2 text-start">
        <i class="fa fa-check"></i> Provide cash for payment
      </p>
    </div>
    <div class="col col-md-2 bg-success p-5">
      <h5 class="fw-bold">step 4:</h5>
      <p class="px-2 text-start">
        <i class="fa fa-check"></i> Sign in to log book
      </p>
    </div>
  </div>
  <br />
  <div class="row text-start mt-4 gap-3 justify-content-center">
    <div class="col col-md-4 border border-success p-4 rounded">
      <h4>Requirements:</h4>
      <form
        class="row g-3"
        [formGroup]="permissionSlipForm"
        (submit)="submitRequest()"
      >
        <div class="col-12">
          <label for="validID" class="form-label">Valid ID</label>
          <input
            class="form-control"
            id="validID"
            type="file"
            (change)="onSelectImage($event)"
            accept="image/*"
            formControlName="validID"
            placeholder="ID"
          />
        </div>
        <div class="col-md-6">
          <label for="date" class="form-label">Date</label>
          <input
            type="date"
            class="form-control"
            id="date"
            formControlName="date"
          />
        </div>
        <div class="col-md-6">
          <label for="time" class="form-label">Time</label>
          <input
            type="time"
            class="form-control"
            id="time"
            formControlName="time"
          />
        </div>
        <div class="col-md-12 align-end">
          <button class="btn btn-success" type="submit">
            Request Permission Slip
          </button>
        </div>
      </form>
    </div>

    <div
      class="col col-md-4 border border-success p-4 rounded position-relative"
    >
      <h4>Prepare your fees:</h4>
      <p class="">
        <i class="fa fa-check"></i> PSA - 400.00 <br />
        <i class="fa fa-check"></i> Senior and PWD - No fee
      </p>
    </div>
  </div>
</div>
