<div class="row justify-content-center mt-1 gap-3"></div>
<img
  src="../../../../assets/images/rizal front.jpg"
  class="aligncenter"
  alt="centered image"
  width="2000"
  height="650"
/>
<div class="container-fluid p-4 text-center">
  <button class="btn btn-lg px-5 py-3 border-0 fw-bold rounded-0 col-4">
    E-Services
  </button>

  <div class="row justify-content-center mt-4 gap-3">
    <a
      (click)="navigateTo('voters')"
      style="box-shadow: 1px 0px 2px 5px rgba(22, 22, 22, 0.6) inset"
      class="col border-0 btn col-md-2 p-3 text-center text-black bg-Light"
    >
      <img
        src="https://cdn4.iconfinder.com/data/icons/election-voting/512/as_1366-512.png"
        class="rounded-circle border"
        style="height: 100px; width: 100px"
        alt="voters certificate"
      /><br /><br />
      <h4>Voters certificate</h4>
    </a>

    <div
      (click)="navigateTo('psa')"
      style="box-shadow: 1px 0px 2px 5px rgba(22, 22, 22, 0.6) inset"
      class="col border-0 btn col-md-2 p-3 text-center text-black bg-Light"
    >
      <img
        src="https://rsso05.psa.gov.ph/sites/default/files/Philippine_Statistics_Authority.png"
        class="rounded-circle border"
        style="height: 100px; width: 100px"
        alt="voters certificate"
      /><br /><br />
      <h4>PSA</h4>
    </div>

    <a
      (click)="navigateTo('kasalan')"
      style="box-shadow: 1px 0px 2px 5px rgba(22, 22, 22, 0.6) inset"
      class="col border-0 btn col-md-2 p-3 text-center text-black bg-Light"
    >
      <img
        src="https://cdn1.iconfinder.com/data/icons/love-wedding-vol-2/512/z3-marriage_certificate_wedding_paper-512.png"
        class="rounded-circle border"
        style="height: 100px; width: 100px"
        alt="voters certificate"
      /><br /><br />
      <h4>kasalang Bayan</h4>
    </a>
    <a
      (click)="navigateTo('burial')"
      style="box-shadow: 1px 0px 2px 5px rgba(22, 22, 22, 0.6) inset"
      class="col border-0 btn col-md-2 p-3 text-center text-black bg-Light"
    >
      <img
        src="https://cdn-icons-png.flaticon.com/512/4671/4671294.png"
        class="rounded-circle border"
        style="height: 100px; width: 100px"
        alt="voters certificate"
      /><br /><br />
      <h4>Burrial Assistance</h4>
    </a>
  </div>
</div>
