body {
  padding: 0;
  margin: 0;
}
.banner-area {
  background-size: cover;
  background-position: center center;
  height: 20vh;
  position: relative;
}
.banner-area::before {
  content: "";
  position: absolute;
  height: 55%;
  width: 55%;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.7);
}
.wrapper h2 {
  margin: 0;
  text-align: center;
  padding-bottom: 35px;
  font-family: poppins;
  text-transform: uppercase;
}

.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  height: 160px;
  overflow: hidden;
  font-size: 28px;
  line-height: 35px;
  color: #262626;
  font-family: roboto;
}
.banner-text {
  font-weight: 600;
  overflow: hidden;
  height: 40px;
  padding: 0 40px;
}
.text-content {
  margin-top: 0;
  padding-left: 0;
  text-align: center;
  list-style: none;
  animation: animate 10s infinite;
}
.content {
  line-height: 40px;
  margin: 0;
  color: rgb(37, 173, 82);
}
@keyframes animate {
  0%,
  12.66%,
  100% {
    transform: translate3d(0, 0, 0);
  }
  16.66%,
  29.32% {
    transform: translate3d(0, -25%, 0);
  }
  33.32%,
  45.98% {
    transform: translate3d(0, -50%, 0);
  }
  49.98%,
  62.64% {
    transform: translate3d(0, -75%, 0);
  }
  66.64%,
  79.3% {
    transform: translate3d(0, -50%, 0);
  }
  83.3%,
  95.96% {
    transform: translate3d(0, -25%, 0);
  }
}
