<div class="container-fluid p-4 text-center">
  <button
    class="btn btn-lg px-5 py-3 border-0 fw-bold rounded-0 col-4"
    style="background-image: linear-gradient(white, skyblue)"
  >
    E-Services
  </button>
</div>

<div class="row justify-content-center mt-4 gap-3">
  <a
    routerLink="voters"
    style="box-shadow: 1px 0px 5px 9px rgba(255, 255, 255, 0.6) inset"
    class="col hover border-0 btn col-md-3 p-4 text-center text-white bg-success"
  >
    <img
      src="https://www.mnchamber.com/sites/default/files/inline-images/Voting%20icon%20square.jpg"
      class="rounded-circle border"
      style="height: 150px; width: 150px"
      alt="voters certificate"
    /><br /><br />
    <h4>Voters certificate</h4>
  </a>
  <a
    routerLink="psa"
    style="box-shadow: 1px 0px 5px 9px rgba(255, 255, 255, 0.6) inset"
    class="col border-0 btn col-md-3 p-4 text-center text-white bg-success"
  >
    <img
      src="https://rsso05.psa.gov.ph/sites/default/files/Philippine_Statistics_Authority.png"
      class="rounded-circle border"
      style="height: 150px; width: 150px"
      alt="voters certificate"
    /><br /><br />
    <h4>PSA</h4>
  </a>
</div>
<div class="row justify-content-center mt-4 gap-3">
  <a
    routerLink="kasalan"
    style="box-shadow: 1px 0px 5px 9px rgba(255, 255, 255, 0.6) inset"
    class="col border-0 btn col-md-3 p-4 text-center text-white bg-success"
  >
    <img
      src="https://cdn0.iconfinder.com/data/icons/valentines-day-4/345/couple-512.png"
      class="rounded-circle border"
      style="height: 150px; width: 150px"
      alt="voters certificate"
    /><br /><br />
    <h4>kasalang Bayan</h4>
  </a>
  <a
    routerLink="burial"
    style="box-shadow: 1px 0px 5px 9px rgba(255, 255, 255, 0.6) inset"
    class="col border-0 btn col-md-3 p-4 text-center text-white bg-success"
  >
    <img
      src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTW_J19b71VOHsJ626yP3ldsurEJWwUX7BwZw&usqp=CAU"
      class="rounded-circle border"
      style="height: 150px; width: 150px"
      alt="voters certificate"
    /><br /><br />
    <h4>Burrial Assistance</h4>
  </a>
</div>
