<nav class="navigation">
  <ul>
    <li routerLink="home" routerLinkActive="active">
      <a>Home</a>
    </li>
    <li routerLink="announcement" routerLinkActive="active">
      <a>Announcements</a>
    </li>
    <li routerLink="contacts" routerLinkActive="active">
      <a>Contacts</a>
    </li>
    <li routerLink="about" routerLinkActive="active">
      <a>About us</a>
    </li>
  </ul>
</nav>

<main>
  <div
    class="d-flex align-items-center justify-content-between p-3 bg-success position-relative w-100"
  >
    <div
      class="col-4 d-flex align-items-center justify-content-start gap-3 text-white"
      style="height: 48px"
    >
      <img
        src="../../../assets/images/logo.png"
        width="120px"
        height="120px"
        class="rounded-circle"
        style="position: absolute; left: 0; z-index: 10"
      />
      <h1 class="fw-bold fs-2 mt-1" style="margin-left: 7rem">
        RIZAL-E SERVICE ADMIN DASHBOARD
      </h1>
    </div>
    <button class="btn btn-secondary" (click)="logout()">Logout</button>
  </div>
  <router-outlet></router-outlet>
</main>
