<div
  style="
    min-height: 90vh;
    background: url(../../../../assets/images/Munisipyo_Facade.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    filter: brightness(90%);
  "
  class="w-full d-flex align-items-center justify-content-center position-relative"
>
  <h1
    class="text-center p-5 text-white text-shadow box-shadow"
    style="background: rgba(0, 0, 0, 0.3)"
  >
    I-RIZ: E-Services Management Information System for the Municipality of
    Rizal
  </h1>
</div>
