/* You can add global styles to this file, and also import other style files */
@import "ngx-toastr/toastr";
* html {
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--bg-color);
}
:root {
  --primary-color: #901a21e5;
  --bg-color: #f0f1f3;
}
